<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="text">
      {{comment_text}}
    </div>
    <div class="text">
      --- {{user.username}} on {{format_date createdAt}}
      {{!-- --- {{user.username}} on {{created_at}} --}}
    </div>
  </section>
  {{/each}}
</div>