<div class="card">
  <div class="title card-header">
    <a href="/post/{{id}}">{{title}}</a>
      <span class="post-meta">Posted by {{user.username}} on {{format_date createdAt}}</span>
  </div>
  <div class="card-body">{{content}}</div>
</div>