<div class="card">
  <div class="title card-header">
    <a href="/post/{{id}}">{{title}}</a>
    {{!-- <span class="post-meta">Posted by {{user.username}} on {{format_date created_at}}</span> --}}
        <span class="post-meta">Posted by {{user.username}}</span>
  </div>
  <div class="card-body">{{content}}</div>
</div>